<?xml version="1.0"?>
<tables>
        <!-- Locations of euklele_database -->

    <table name="euklele_databases" comment_char="#">
        <columns>value, name, path</columns>
        <file path="tool-data/euklele_databases.loc" />
    </table>
</tables>
